@charset "utf-8";
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    /* color: green; */
}

a:link,
a:visited {
    color: maroon;
    text-decoration: underline;
}

a:hover,
a:active {
    color: blue;
    text-decoration: none;
}

em {
    font-style: normal;
    font-weight: bold;
}