@charset "utf-8";

body {
	background-color: #FFF;
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
}

#main_menu_link { display: none; }

em {
	font-style: normal;
	font-weight: bold;
}

footer {
	padding-top: 5px;
	margin-top: 40px;
	border-top: 1px solid #333;
}
footer p { font-size: 10px; margin: 0px; }